body {
  margin: 0;
  padding: 0;

  font-family: PT Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #333;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}
.visually_hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/*   Хедер    */
.page_header {
  background-color: #fff;
}
/* У списков также необходимо сбрасывать padding и margin */
.main_menu .list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main_menu a {
  line-height: 26px;
  font-weight: 700;
  color: #000;
}
.main_menu a:hover,
.main_menu a:focus {
  color: #81b3d2;
}
.main_menu a:active {
  color: #cacaca;
}
.item .active,
.item .active:hover,
.item .active:focus {
  color: #766357;
}

/* Основное содержание index*/
.page_main {
  background-image: url("../img/background/index_background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 508px;
}
.promo {
  background-color: #fff;
}
.promo_header {
  text-align: center;
  line-height: 26px;
}
.promo_header h2 {
  font-size: 21px;
  font-weight: 700;
  color: #000;
}
/* Основной блок преимуществ */
.article_header {
  color: #fff;
  background-color: #81b3d2;
}
.feature h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.feature h3,
.feature p {
  text-align: center;
}
.feature ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.feature:nth-of-type(2) ul {
  background-color: #eee;
}
/* Поиск по дате заезда  */
.booking {
  background-color: #fff;
  text-align: center;
}
.booking_header h2 {
  font-size: 30px;
  line-height: 36px;
}
.booking_header p {
  line-height: 24px;
}
.form_label.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  background-color: #766357;
  color: #fff;
}
.form_label.button:hover,
.form_label.button:focus {
  background-color: #604e43;
}
.form_label.button:active {
  color: #928a85;
  background-color: #503e33;
}

/* Форма поиска по дате */
.hotel_find fieldset {
  border: none;
}
.hotel_find label {
  line-height: 26px;
  font-weight: 700;

  color: #000;
}
.hotel_find input[type="text"],
.hotel_find input[type="button"] {
  line-height: 26px;

  background: #f2f2f2;
  border: none;
}
.hotel_find input[type="text"]:hover,
.hotel_find input[type="text"]:focus {
  background-color: #ebebeb;
}
.hotel_find input[type="text"]:active {
  background-color: #fff;
  outline: 2px solid #e5e5e5;
  outline-offset: -2px;
}
.hotel_find input::placeholder {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  
  color: #000;
}
/* Кнопки в форме поиска по дате */
.form_button {
  font-size: 14px;
  font-weight: 700;

  color: #a9a9a9;
}
.form_button:hover,
.form_button:focus {
  color: #000;
}
.form_button:active {
  color: #81b3d2;
}
.find_button {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;

  border: none;
  color: #ffffff;
  background-color: #81b3d2;
}
.find_button:hover,
.find_button:focus {
  background-color: #669ec0;
}
.find_button:active {
  color: #94b9d2;
  background-color: #5496bd;
}
/* Основное содержиние hotels */
.page_inner {
  background-color: #fff;
}
/* Фильтр отелей */
.filter {
  background-image: url("../img/background/hotels_background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 508px;
}
.filter fieldset {
  border: none;
  text-align: center;
}
.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #fff;
}
.filter_checkbox ul {
  list-style: none;
}
.filter_checkbox li {
  text-align: left;
}
.filter_checkbox label{
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}
.price_window {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
}
.price_window::placeholder {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  text-align: center;
  color: #fff;
}
.button.show {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
}
.button.show:hover {
  color: #000;
  background-color: #fff;
}
/* Сортировка */
.result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: #000;
}
.sort {
  font-size: 12px;
  line-height: 18px;

  color: #000;
}
.sort_by_type,
.sort_by_direction {
  list-style: none;
}
.sort_by_type a {
  font-size: 12px;
  line-height: 18px;

  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}
.sort_by_type a:hover,
.sort_by_type a:focus {
  color: #81b3d2;
}
.sort_by_type a:active {
  color: #000;
  border: none;
}
.sort_by_type .active,
.sort_by_type .active:hover,
.sort_by_type .active:focus,
.sort_by_type .active:active {
  color: #81b3d2;
  border: none;
}
/* Обертка отеля */
.hotel_header a{
  font-size: 21px;
  line-height: 26px;

  color: #000;
}
.hotel_header a:hover,
.hotel_header a:focus{
  color: #81b3d2;
}
.hotel_header a:active{
  color: #cacaca;
}
.hotel_item .button {
  font-weight: 700;
  color: #fff;
}
.view_more {
  background-color: #81b3d2;
}
.view_more:hover,
.view_more:focus {
  background-color: #669ec0;
}
.view_more:active {
  color: #94b9d2;
  background-color: #5496bd;
}
.reserving {
  background-color: #766357;
}
.reserving:hover, 
.reserving:focus {
  background-color: #604e43;
}
.reserving:active {
  color: #928a85;
  background-color: #503e33;
}
.rating {
  color: #666666;
  background-color: #f2f2f2;
}
/* Футер */
.page_footer {
  text-align: center;
  color: #000;
}
.hashtag p {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
/* Кнопки социальных сетей */
.social_buttons {
  list-style: none;
}
.social_buttons a {
  background: #81b3d2;
  color: #fff;
}
.social_buttons a:hover,
.social_buttons a:focus {
  background-color: #669ec0;
}
.social_buttons a:active {
  background-color: #5496bd;
  color: #88b6d1;
}
/* Сведения о разработчике */
.developed p {
  line-height: 26px;
  vertical-align: middle;
}
a:hover .logo,
a:focus .logo {
  fill: #81b3d2;
}
a:active .logo {
  fill: #bdbbbc;
}

/* Сетка */
.main_wrapper {
  width: 1200px;
  margin: 0 auto;
}
.main_menu {
  display: flex;
  justify-content: space-around;
}
.main_menu .list {
  display: flex;
  padding: 0;
  margin: 0;
}
.main_menu .logo {
  order: 1;
}
.title_text {
  padding: 76px 370px 73px;
}
.promo,
.promo_header,
.feature,
.booking,
.booking_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo_header {
  justify-content: space-around;
  min-height: 215px;
}
.article_header,
.feature_list {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 256px;
}
.feature:nth-of-type(2) img {
  order:-1;
}
.feature:first-of-type .feature_list{
  min-height: 330px;
}
.feature_item {
  width: 400px;
  outline: 1px solid slateblue;
}
.hotel_find,
.form_label.button {
  width: 568px;
}
.page_footer {
  display: flex;
  justify-content: space-between;
}
.hashtag,
.social,
.developed {
  width: 400px;
}