body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #333;

  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
.visually_hidden {
  position: absolute;

  margin: -1px;
  width: 1px;
  height: 1px;

  clip: rect(0 0 0 0);
}

/*   Хедер    */

.page_header {
  z-index: 3;

  background-color: #fff;
}

/* Главное меню */

.main_menu {
  position: relative;
  z-index: 2;
}
.main_menu a {
  line-height: 26px;
  font-weight: 700;
  color: #000;
}
.main_menu a:hover,
.main_menu a:focus {
  color: #81b3d2;
}
.main_menu a:active {
  color: #cacaca;
}
.item .active,
.item .active:hover,
.item .active:focus {
  color: #766357;
}
.main_menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}
.main_menu .item {
  padding-top: 14px;
  padding-bottom: 15px;
  width: 240px;
}
.main_menu .item:nth-child(4n+1) {
  margin-left: 73px;
}
.main_menu .item:nth-child(4n+3) {
  margin-left: 92px;
}
.main_menu .item:nth-child(4n+1),
.main_menu .item:nth-child(4n+2) {
  text-align: left;
}
.main_menu .item:nth-child(4n+3),
.main_menu .item:nth-child(4n+4) {
  text-align: right;
}
.main_menu .logo {
  z-index: 2;
  position: absolute;
  top: -1px;
  left: calc(50% - 70px);

  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

/* Основное содержание index*/

.main_wrapper {
  margin: 0 auto;

  width: 1200px;

  -webkit-box-shadow: 0 0 15px 5px #dbdbdb;
          box-shadow: 0 0 15px 5px #dbdbdb;
}
.main_background {
  position: relative;
  z-index: 1;
  
  width: 1200px;
  height: 510px;

  background-color: #55728e;
  background-image:
    url("../img/content/intro-welcome.svg"),
    url("../img/background/index_background.jpg");
  background-repeat: no-repeat;
  background-size:
    459px 353px,
    1200px 510px;
  background-position:
    calc(50% - 1px) calc(50% - 2px),
    0 0;
}
.main_background::after {
  position: absolute;
  bottom: -2px;
  
  content: "";
  display: block;
  width: 1200px;
  height: 60px;

  background-image: url("../img/decor/intro-mask.svg");
  background-size: 1200px 60px;
  background-repeat: no-repeat;
}

/* Промо-блок */

.promo,
.promo_header,
.booking,
.booking_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promo {
  background-color: #fff;
}
.promo_header {
  text-align: center;
  line-height: 26px;
  min-height: 215px;
}
.promo_header p:first-child {
  margin: 0;
  margin-top: 59px;
  margin-bottom: 27px;
  padding: 0;
  width: 460px;

  font-size: 21px;
  font-weight: 700;
  color: #000;
}
.promo_header p {
  margin: 0;
  margin-bottom: 51px;
  padding: 0;
}

/* Основной блок преимуществ */

.feature_list_ordered,
.feature_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
  padding: 0;
  margin: 0;

  list-style: none;
}
.feature_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
}
.feature_item h3 {
  padding: 0;
  width: 160px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;

  text-align: center;
}
.feature_item p {
  margin: 0;
  padding: 0;
  width: 280px;

  text-align: center;
}
.header_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  
  color: #fff;

  background-color: #81b3d2;
}
.feature_column_text {
  width: 400px;
}
.feature_column_text h3 {
  margin-top: 47px;
  margin-bottom: 24px;
  padding: 0;
  width: 160px;

  text-align: center;
}
.feature_column_text p {
  margin: 0 auto;
  padding-bottom: 21px;
  width: 304px;
  
  text-align: center;
}
.feature_column_decor {
  width: 800px;
}
.feature_decor {
  display: block;
}
.feature_decor:nth-of-type(1) {
  background-color: #5f5646;
}
.feature_decor:nth-of-type(2) {
  background-color: #8e6d5c;
}
.with_icon h3 {
  position: relative;

  margin-top: 161px;
  margin-bottom: 24px;
  padding: 0;
}
.with_icon h3::before {
  position: absolute;

  content: "";
  
  background-repeat: no-repeat;
}
.with_icon:nth-of-type(1) h3::before {
  top: -101px;
  left: calc(50% - (75px/2));

  width: 75px;
  height: 72px;

  background-image: url("../img/decor/icon-1.svg");
  background-size: 75px 72px;
}
.with_icon:nth-of-type(2) h3::before {
  top: -100px;
  left: calc(50% - 37px);

  width: 74px;
  height: 70px;

  background-image: url("../img/decor/icon-3.svg");
  background-size: 74px 70px;
}
.with_icon:nth-of-type(3) h3::before {
  top: -105px;
  left: calc(50% - 32px);

  width: 64px;
  height: 76px;

  background-image: url("../img/decor/icon-2.svg");
  background-size: 64px 76px;
}
.with_icon p {
  margin: 0;
  padding-bottom: 82px;
  width: 290px;
}
.last_blocks {
  background-color: #eeeeee;
}
.last_blocks h3 {
  margin: 0;
  padding-top: 47px;
  padding-bottom: 24px;
}
.last_blocks p {
  margin: 0;
  padding-bottom: 21px;
}
.last_blocks:last-child {
  padding-bottom: 38px;
}
.last_blocks:last-of-type p:last-of-type {
  width: 255px;
} 
/* Поиск по дате заезда  */

.booking {
  position: relative;
  z-index: 3;

  text-align: center;

  background-color: #fff;
}
.booking_header {
  z-index: 3;
}
.booking_header h2 {
  margin: 50px auto 24px;
  padding: 0;

  font-size: 30px;
  line-height: 36px;
}
.booking_header p {
  margin: 0 auto 47px;
  padding: 0;
  width: 450px;

  line-height: 24px;
}
.form_label_button {
  display: inline-block;
  margin: 0;
  padding: 30px 140px;
  
  vertical-align: middle;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  background-color: #766357;
  color: #fff;
}
.form_label_button:hover,
.form_label_button:focus {
  background-color: #604e43;
}
.form_label_button:active {
  color: #928a85;
  background-color: #503e33;
}

/* Форма поиска по дате */

.hotel_find {
  position: absolute;
  z-index: -1;
  top: 292px;
  left: calc(50% - 284px);

  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 568px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #fff;
}
.form_no_JS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.full_width {
  z-index: -1;

  margin-left: 55px;
  margin-top: 54px;
  margin-bottom: 29px;
  padding: 0;
  width: 472px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.full_width label {
  display: block;
  float: left;
  padding: 6px 0;
  padding-right: 20px;
}
.full_width:nth-of-type(2) {
  margin-top: 0;
}
.full_width input[type="text"] {
  padding: 6px 0;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 346px;
}

.half_width {
  margin-left: 50px;
  padding: 0;
  width: 231px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  text-align: left;
  font-size: 0;
}
.half_width:last-of-type {
  margin-left: 50px;
}
.half_width label {
  display: inline-block;
  padding-right: 40px;
  padding-left: 4px;

  font-size: 14px;
  text-align: left;
  vertical-align: middle;
}
.half_width:last-of-type label {
  padding-right: 25px;
}
.quantity {
  display: inline-block;
  margin: 0;
  padding: 7px 8px;
  width: 30px;

  vertical-align: middle;
  text-align: center;
}
.hotel_find label {
  line-height: 26px;
  font-weight: 700;
  color: #000;
}
.hotel_find input[type="text"],
.hotel_find input[type="button"] {
  font-family: inherit;
  line-height: 26px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  background: #f2f2f2;
  border: none;
}
.hotel_find input[type="text"]:hover,
.hotel_find input[type="text"]:focus {
  background-color: #ebebeb;
}
.hotel_find input[type="text"]:active {
  background-color: #fff;
  outline: 2px solid #e5e5e5;
  outline-offset: -2px;
}
.hotel_find input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  
  color: #000;
}
.hotel_find input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  
  color: #000;
}
.hotel_find input::placeholder {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  
  color: #000;
}

/* Кнопки в форме поиска по дате */

.form_button {
  display: inline-block;
  margin: 0;
  padding: 12px 14px;

  font-size: 14px;
  font-weight: 700;
  vertical-align: middle;
  color: #a9a9a9;
  
  background-color: #f2f2f2;
  border: none;
}
.form_button:hover,
.form_button:focus {
  color: #000;
}
.form_button:active {
  color: #81b3d2;
}
.calendar {
  position: relative;

  font-size: 0;

  background: transparent;
  border: none;
  outline: none;
}
.calendar::before {
  position: absolute;
  top: -15px;
  left: -32px;
  
  content: "";
  width: 22px;
  height: 22px;

  background-image: url("../img/icon/calendar_gray.svg");
}
.calendar:hover::before,
.calendar:focus::before {
  background-image: url("../img/icon/calendar.svg");
}
.calendar:active::before {
  background-image: url("../img/icon/calendar_blue.svg");
}
.find_button {
  display: inline-block;
  margin: 53px auto;
  padding: 17px 196px;

  font-size: 21px;
  vertical-align: middle;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  background-color: #81b3d2;
}
.find_button:hover,
.find_button:focus {
  background-color: #669ec0;
}
.find_button:active {
  color: #94b9d2;
  background-color: #5496bd;
}

/* Основное содержиние hotels */

.page_inner {
  background-color: #fff;
}

/* Фильтр отелей */

.filter {
  margin-bottom: 30px;

  background-color: #5f7487;
  background-image: url("../img/background/hotels_background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 508px;
}
.filter fieldset {
  border: none;

  text-align: center;
}
.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #fff;
}
.hotel_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.checkbox_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.checkbox_block label {
  margin: 0;
  padding: 0;
}
.filter_checkbox {
  margin: 0;
  margin-left: 70px;
  padding: 0;
  width: 240px;
}
.filter_checkbox:nth-of-type(2) {
  margin-left: 14px;
}
.filter_checkbox legend {
  margin-bottom: 25px;
  padding-top: 28px;

  text-align: left;
}
.filter_checkbox ul {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;

  list-style: none;
}
.filter_checkbox li {
  margin-bottom: 25px;
  padding-left: 42px;

  text-align: left;
}
.filter_checkbox:nth-of-type(2) li {
  padding-left: 45px;
}
.filter_checkbox li:last-of-type {
  margin-bottom: 0;
}
.filter_checkbox label {
  position: relative;

  font-size: 14px;
  line-height: 21px;
  color: #fff;
}
.filter_checkbox input[type="checkbox"] + .checkbox_indicator {
  position: absolute;
  top: -3px;
  left: -42px;

  width: 28px;
  height: 25px;

  background-image: url("../img/icon/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: 27px 23px;
}
.filter_checkbox input[type="checkbox"]:focus + .checkbox_indicator {
  outline-color: #81b3d2; 
outline-offset: -2px;
outline-style: auto;
outline-width: 5px;
}
.filter_checkbox input[type="checkbox"]:disabled + .checkbox_indicator {
  position: absolute;
  top: -3px;
  left: -42px;

  width: 28px;
  height: 25px;

  background-image: url("../img/icon/checkbox-off-gray.svg");
  background-repeat: no-repeat;
  background-size: 27px 23px;
}
.filter_checkbox:nth-of-type(2) input[type="checkbox"] + .checkbox_indicator {
  left: -44px;
}
.filter_checkbox input[type="checkbox"]:checked + .checkbox_indicator {
  background-image: url("../img/icon/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: 29px 23px;
  background-position: 1px 0;
}
.filter_checkbox input[type="checkbox"]:checked:disabled + .checkbox_indicator {
  background-image: url("../img/icon/checkbox-on-gray.svg");
  background-repeat: no-repeat;
  background-size: 29px 23px;
  background-position: 1px 0;
}

/*  Выбор цены в фильтре  */

.price_per_day {
  margin-top: 27px;
  margin-right: 60px;
}
.price_per_day legend {
  margin-bottom: 6px;

  text-align: left;
}
.price_container {
  position: relative;

  width: 314px;
  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #fff;
  border-radius: 3px;
}

.price_window {
  display: inline-block;
  padding: 0;
  width: 150px;
  height: 32px;  

  vertical-align: middle;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  background-color: transparent;
  border: none;
}
.price_container::after {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 1px);  

  content: "";
  width: 2px;
  height: 22px;

  background: #fff;
}
.price_window:last-of-type {
  margin-left: 8px;
}
.price_window::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.price_window:-ms-input-placeholder {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.price_window::placeholder {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.slider_container {
  position: relative;
  
  margin-bottom: 32px;
  height: 2px;

  font-size: 0;

  background: rgba(255, 255, 255, 0.3); 
}
.slider_bar {
  height: 2px;
  width: 80%;

  background: #fff;
}
.slider_button {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;
  
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.slider_button:hover {
  background: #1c4f80;
}
.slider_button_min {
  left: 0;
}
.slider_button_max {
  left: 80%;
}
.button.show {
  margin: 0 50%;
  -webkit-transform: translateX(-55%);
          transform: translateX(-55%);
  padding: 5.5px 30px;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;

  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
  cursor: pointer;
}
.button.show:hover {
  color: #000;

  background-color: #fff;
}

/* Сортировка */

.filter_result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
    -webkit-box-sizing: border-box;
          box-sizing: border-box;
          
  border-bottom: 1px solid #e5e5e5;
}
.sort_block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.result_block {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.result,
.sort {
  display: inline-block;

  vertical-align: bottom;
}
.result {
  padding-left: 72px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}
.sort {
  padding-bottom: 2px;
  padding-left: 48px;

  font-size: 12px;
  line-height: 18px;
  color: #000;
}
.sort_by_type,
.sort_by_direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  
  list-style: none;
}
.sort_by_type a {
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;

  border-bottom: 1px dotted #81b3d2;
}
.sort_by_type a:hover,
.sort_by_type a:focus {
  color: #81b3d2;
}
.sort_by_type a:active {
  color: #000;

  border: none;
}
.sort_by_type .active,
.sort_by_type .active:hover,
.sort_by_type .active:focus,
.sort_by_type .active:active {
  color: #81b3d2;

  border: none;
}
.sort_by_type li {
  padding-bottom: 1px;
  padding-left: 33px;
}
.sort_by_type li:first-child {
  padding-left: 40px;
}
.arrow_button {
  position: relative;

  padding-left: 15px;
  padding-right: 8px;
}
.arrow_button:focus {
  outline: none;
}
.arrow_button::before {
  position: absolute;
  top: 3px;
  right: 73px;
  
  content: "";
  display: block;
  width: 11px;
  height: 11px;

  background-repeat: no-repeat;
  background-size: 11px 11px;
}
.up.arrow_button::before {
  background-image: url("../img/icon/icon-up-dir-gray.svg");
}
.down.arrow_button::before {
  background-image: url("../img/icon/icon-down-dir-gray.svg");
}
.up.arrow_button:hover::before,
.up.arrow_button:focus::before {
  background-image: url("../img/icon/icon-up-dir.svg");
}
.down.arrow_button:hover::before,
.down.arrow_button:focus::before {
  background-image: url("../img/icon/icon-down-dir.svg");
}
.up.arrow_button:focus::before,
.down.arrow_button:focus::before {
  outline-color: rgb(77, 144, 254);
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.up.arrow_button:active::before {
  background-image: url("../img/icon/icon-up-dir-blue.svg");
}
.down.arrow_button:active::before {
  background-image: url("../img/icon/icon-down-dir-blue.svg");
}
.active.arrow_button::before {
  background-image: url("../img/icon/icon-down-dir-blue.svg");
}

/* Обертка отеля */

.hotel_header h2 {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 5px;

  font-size: 21px;
  line-height: 26px;
  color: #000;
}
.hotel_header h2:hover,
.hotel_header h2:focus {
  color: #81b3d2;
}
.hotel_header h2:active {
  color: #cacaca;
}
.hotel_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 72px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  border-bottom: 1px solid #e5e5e5;
}
.hotel_miniature:nth-of-type(1) {
  background-color: #bb5f6c;
}
.hotel_miniature:nth-of-type(2) {
  background-color: #a29594;
}
.hotel_miniature:nth-of-type(3) {
  background-color: #828c6d;
}
.hotel_info_block {
  margin-left: 30px;
}
.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.left_column,
.right_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

}
.left_column {
  width: 116px;
}
.apts_type, 
.price {
  margin-bottom: 15px;
  padding-top: 1px;

  text-align: left;
}
.hotel_item .button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-weight: 700;
  color: #fff;
}
.view_more {
  margin-left: 0;
  padding: 3px 17px;
  width: 110px;

  vertical-align: middle;
  text-align: center;

  background-color: #81b3d2;
}
.view_more:hover,
.view_more:focus {
  background-color: #669ec0;
}
.view_more:active {
  color: #94b9d2;

  background-color: #5496bd;
}
.reserving {
  padding: 3px 17px; 

  vertical-align: middle;
  text-align: center;
 
  background-color: #766357;
}
.reserving:hover, 
.reserving:focus {
  background-color: #604e43;
}
.reserving:active {
  color: #928a85;

  background-color: #503e33;
}
.rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-left: auto;
  padding: 0;
}
.rating {
  margin-bottom: 7px;
  padding: 3px 14px;

  color: #666666;

  background-color: #f2f2f2;
}
.stars {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 90px;
  height: 17px;

  background-position: -3px 0;
  background-size: 24px 100%;
  background-image: url("../img/icon/star.svg");
  background-repeat: repeat-x;
}
.hotel_item:nth-last-of-type(2) .stars {
  width: 66px; 
}
.hotel_item:nth-of-type(3) .stars {
  width: 41px;
}

/* Футер */

.footer_main {
  position: relative;
}
.map {
  position: absolute;
  top: 0px;
  z-index: -1;

  display: block;
}
.map_google {
  display: block;

  border: 0px;
}
.page_footer {
  z-index: 1;
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  padding-bottom: 36px;

  text-align: center;
  color: #000;  

  background-color: #fdfdfc;
  opacity: 0.9;
}
.hashtag,
.social,
.developed {
  width: 400px;
}
.hashtag p {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

/* Кнопки социальных сетей */

.social_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 11px;
  padding: 0;
  padding-right: 3px;
  width: 150px;

  list-style: none;
}
.social_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
  fill: #fff;
}
.social_link:hover,
.social_link:focus {
  background-color: #669ec0;
}
.social_link:active {
  background-color: #5496bd;
}
.social_link:active path {
  fill: #88b6d1;
}

/* Сведения о разработчике */

.developed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;

}
.developed_text {
  display: block;
  float: left;
  margin-right: 8px;
  padding: 8px 0;
  -ms-flex-item-align: center;
      align-self: center;

  line-height: 26px;
}
.dev_logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
a:hover .dev_logo,
a:focus .dev_logo {
  fill: #81b3d2;
}
a:active .dev_logo {
  fill: #bdbbbc;
}

/* анимации */

@-webkit-keyframes error {
  0% {background-color: rgba(248, 248, 248, 0.5)}
  50% {background-color: rgb(236, 19, 19)}
  100% {background-color: rgba(221, 167, 167, 0.952)}
}
@keyframes error {
  0% {background-color: rgba(248, 248, 248, 0.5)}
  50% {background-color: rgb(236, 19, 19)}
  100% {background-color: rgba(221, 167, 167, 0.952)}
}
@-webkit-keyframes shrink {
  0% {-webkit-transform: scale(0, 1);transform: scale(0, 1)}
  95% {-webkit-transform: scale(1.01, 1);transform: scale(1.01, 1)}
  100% {-webkit-transform: scale(1, 1);transform: scale(1, 1)}
}
@keyframes shrink {
  0% {-webkit-transform: scale(0, 1);transform: scale(0, 1)}
  95% {-webkit-transform: scale(1.01, 1);transform: scale(1.01, 1)}
  100% {-webkit-transform: scale(1, 1);transform: scale(1, 1)}
}
@-webkit-keyframes shrink_reverse {
  0% {-webkit-transform: scale(1, 1);transform: scale(1, 1)}
  100% {-webkit-transform: scale(0, 1);transform: scale(0, 1)}
}
@keyframes shrink_reverse {
  0% {-webkit-transform: scale(1, 1);transform: scale(1, 1)}
  100% {-webkit-transform: scale(0, 1);transform: scale(0, 1)}
}
.shrink {
  -webkit-animation-name: shrink;
          animation-name: shrink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.shrink_reverse {
  -webkit-animation-name: shrink_reverse;
          animation-name: shrink_reverse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.error {
  -webkit-animation-name: error;
          animation-name: error;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}